.footer-page{
    background-color: #007bff;
    color: white;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    position:fixed;
    bottom:0;
    width:100%;
}
img{
    width: 20;
    height: 20px;
    margin-left: 100px;
}