<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <a class="navbar-brand" href="#"><img class="d-block w-100" src="../../assets/img/logo.jpg" alt="First slide"></a>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
        aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars"></span> Menu
      </button>
      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a routerLink="" class="nav-link">Home</a></li>
          <li class="nav-item"><a routerLink="cart" class="nav-link">Cart</a></li>
        </ul>
      </div>
    </div>
    <div class="button-cart">
      <app-shopping-cart></app-shopping-cart>
    </div>
  </nav>
</section>